[Unit]
Description=advanced interactive monitor
Documentation=man:atop(1)

[Service]
ExecStart=/bin/sh -c '/usr/bin/atop -a -w /var/log/atop/atop_$(date +%Y%m%d) 600'

[Install]
WantedBy=multi-user.target
