[Unit]
Description=Atop advanced performance monitor
Documentation=man:atop(1)

[Service]
ExecStart=/bin/sh -c 'exec /usr/bin/atop -w /var/log/atop/atop_`date +%%Y%%m%%d` 60'
ExecStartPost=/usr/bin/find /var/log/atop -name "atop_*" -mtime +28 -exec rm -v {} \;

[Install]
WantedBy=multi-user.target
