[Unit]
Description=Restart atop daemon to rotate logs
Documentation=man:atop(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart atop.service
