[Unit]
Description=Atop process accounting daemon
Documentation=man:atopacctd(8)
Conflicts=psacct.service
After=syslog.target
Before=atop.service

# Let's skip on containers here, at least for now.
# Currently, Linux Containers don't support process accounting
# (and failed services are painful for Debian-style packages).
ConditionVirtualization=!container

[Service]
Type=forking
PIDFile=/var/run/atopacctd.pid
ExecStart=/usr/sbin/atopacctd

[Install]
WantedBy=multi-user.target
